jms-core/src/test/resources/drop/mailOut/OM89.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (http://www.altova.com) by Valera (Shibaev) -->
<!-- W3C Schema generated by XMLSpy v2014 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xfa="http://www.xfa.org/schema/xfa-data/1.0/">
	<xs:import namespace="http://www.xfa.org/schema/xfa-data/1.0/" schemaLocation="OM891.xsd"/>
	<xs:element name="fax">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="07 4052 1580"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fca">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="61093-01"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fca2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="61093-01"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fca3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="61093-01"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="State">
		<xs:complexType/>
	</xs:element>
	<xs:element name="email">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="neville.renton@cbre.com.au"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="form1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Questions"/>
				<xs:element ref="fca"/>
				<xs:element ref="adAlarmDetails"/>
				<xs:element ref="poPremiseOwnerDetails"/>
				<xs:element ref="bcBodyCorporate"/>
				<xs:element ref="pmPropertyManager"/>
				<xs:element ref="ptTenantDetails"/>
				<xs:element ref="ecEmergencyContactInfo"/>
				<xs:element ref="scSecurityContactInfo"/>
				<xs:element ref="fca2"/>
				<xs:element ref="fecFutureEmergencyContacts"/>
				<xs:element ref="aiAdditionalInfo"/>
				<xs:element ref="cfCustomerFeedback"/>
				<xs:element ref="SubmittingForm"/>
				<xs:element ref="fca3"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="state">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="QLD"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="abnacn">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="90 905 079 908"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="mobile">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0407 321 814"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="office">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="07 4051 8922"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="suburb">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="CAIRNS"/>
				<xs:enumeration value="Earlville Audit"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="feedback">
		<xs:complexType/>
	</xs:element>
	<xs:element name="postcode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="4870"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Questions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ownershipchanged"/>
				<xs:element ref="bodycorporate"/>
				<xs:element ref="propertymanager"/>
				<xs:element ref="commercialtenant"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ctsnumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="emailpost">
		<xs:complexType/>
	</xs:element>
	<xs:element name="guarddogs">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ownername">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Cairn Property Trust Audit"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="othertimes">
		<xs:complexType/>
	</xs:element>
	<xs:element name="streetname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="Mulgrave Road Audit"/>
				<xs:enumeration value="PO Box 1101 Audit"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="companyname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="CBRE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contactname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="Neville Renton Audit"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="onsite24hrs">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="premisename">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Spotlight Building Audit"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="relationship">
		<xs:complexType/>
	</xs:element>
	<xs:element name="streetnumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="318-A"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bodycorporate">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contactnumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="0740518922"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contactperson">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="Neville Renton"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lotplannumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="owneroccupied">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SubmittingForm">
		<xs:complexType>
			<xs:attribute ref="xfa:dataNode" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="adAlarmDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fca"/>
				<xs:element ref="customernumber"/>
				<xs:element ref="lotplannumber"/>
				<xs:element ref="premisename">
					<xs:annotation>
						<xs:documentation>create crm action</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="changepremisenameto">
					<xs:annotation>
						<xs:documentation>create crm action</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="streetnumber"/>
				<xs:element ref="streetname"/>
				<xs:element ref="suburb"/>
				<xs:element ref="postcode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="customernumber">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="20031004"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bcBodyCorporate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fca"/>
				<xs:element ref="companyname"/>
				<xs:element ref="abnacn"/>
				<xs:element ref="ctsnumber">
					<xs:annotation>
						<xs:documentation>owner.reference varchar(20)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="bodycorpmanagement">
					<xs:annotation>
						<xs:documentation>owner.management varchar(50)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="contactname"/>
				<xs:element ref="email"/>
				<xs:element ref="office"/>
				<xs:element ref="mobile"/>
				<xs:element ref="fax"/>
				<xs:element ref="streetname"/>
				<xs:element ref="suburb"/>
				<xs:element ref="state"/>
				<xs:element ref="postcode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contactposition">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Property Manager - Asset Services"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="propertymanager">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ptTenantDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fca"/>
				<xs:element ref="companyname"/>
				<xs:element ref="contactname"/>
				<xs:element ref="email"/>
				<xs:element ref="office"/>
				<xs:element ref="mobile"/>
				<xs:element ref="fax"/>
				<xs:element ref="streetname"/>
				<xs:element ref="suburb"/>
				<xs:element ref="State"/>
				<xs:element ref="postcode"/>
				<xs:element ref="owneroccupied">
					<xs:annotation>
						<xs:documentation>char(1) N</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aiAdditionalInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fca"/>
				<xs:element ref="confirmformcompleted"/>
				<xs:element ref="contactperson"/>
				<xs:element ref="contactnumber"/>
				<xs:element ref="contactposition"/>
				<xs:element ref="dateformcompleted"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="commercialtenant">
		<xs:complexType/>
	</xs:element>
	<xs:element name="contact1lastname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Hamlyn"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact2lastname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Renton"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact3lastname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Pickering"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="onsiteafterhours">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ownershipchanged">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact1givenname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Claire"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact2givenname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Neville"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact3givenname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Kerrie"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dateformcompleted">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="2013-11-12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pmPropertyManager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fca"/>
				<xs:element ref="companyname"/>
				<xs:element ref="contactname"/>
				<xs:element ref="email"/>
				<xs:element ref="office"/>
				<xs:element ref="mobile"/>
				<xs:element ref="fax"/>
				<xs:element ref="streetname"/>
				<xs:element ref="suburb"/>
				<xs:element ref="state"/>
				<xs:element ref="postcode"/>
				<xs:element ref="sameassection3details">
					<xs:annotation>
						<xs:documentation>'Y' same as bodycorporate</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bodycorpmanagement">
		<xs:complexType/>
	</xs:element>
	<xs:element name="cfCustomerFeedback">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fca"/>
				<xs:element ref="feedback"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="changepremisenameto">
		<xs:complexType/>
	</xs:element>
	<xs:element name="onsiterandompatrols">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="confirmformcompleted">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact1daytimenumber">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="740413322"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact2daytimenumber">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="740518922"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact3daytimenumber">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="740518922"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="poPremiseOwnerDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fca"/>
				<xs:element ref="ownername"/>
				<xs:element ref="abnacn"/>
				<xs:element ref="contactname"/>
				<xs:element ref="email"/>
				<xs:element ref="office"/>
				<xs:element ref="mobile"/>
				<xs:element ref="fax"/>
				<xs:element ref="streetname"/>
				<xs:element ref="suburb"/>
				<xs:element ref="state"/>
				<xs:element ref="postcode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sameassection3details">
		<xs:complexType/>
	</xs:element>
	<xs:element name="scSecurityContactInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fca"/>
				<xs:element ref="firealarmmaintenancecompanyname"/>
				<xs:element ref="firealarmmaintenancecompanyphonenumber"/>
				<xs:element ref="monitoredsecuritycompanyname"/>
				<xs:element ref="monitoredsecurityphonenumber"/>
				<xs:element ref="onsitesecutritycompanyname"/>
				<xs:element ref="onsitesecurityphonenumber"/>
				<xs:element ref="onsite24hrs"/>
				<xs:element ref="onsiteafterhours"/>
				<xs:element ref="onsiterandompatrols"/>
				<xs:element ref="othertimes"/>
				<xs:element ref="guarddogs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ecEmergencyContactInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fca"/>
				<xs:element ref="contact1givenname"/>
				<xs:element ref="contact1lastname"/>
				<xs:element ref="contact1daytimenumber"/>
				<xs:element ref="contact1afterhoursnumber"/>
				<xs:element ref="contact2givenname"/>
				<xs:element ref="contact2lastname"/>
				<xs:element ref="contact2daytimenumber"/>
				<xs:element ref="contact2afterhoursnumber"/>
				<xs:element ref="contact3givenname"/>
				<xs:element ref="contact3lastname"/>
				<xs:element ref="contact3daytimenumber"/>
				<xs:element ref="contact3afterhoursnumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contact1afterhoursnumber">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="740413322"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact2afterhoursnumber">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="407321814"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact3afterhoursnumber">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="459027485"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="onsitesecurityphonenumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="fecFutureEmergencyContacts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fca"/>
				<xs:element ref="contactperson"/>
				<xs:element ref="emailpost"/>
				<xs:element ref="email"/>
				<xs:element ref="relationship"/>
				<xs:element ref="contactnumber"/>
				<xs:element ref="streetname"/>
				<xs:element ref="suburb"/>
				<xs:element ref="State"/>
				<xs:element ref="postcode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="onsitesecutritycompanyname">
		<xs:complexType/>
	</xs:element>
	<xs:element name="monitoredsecuritycompanyname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NQ Security Service"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="monitoredsecurityphonenumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0408 744 107 Audit"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="firealarmmaintenancecompanyname">
		<xs:complexType/>
	</xs:element>
	<xs:element name="firealarmmaintenancecompanyphonenumber">
		<xs:complexType/>
	</xs:element>
</xs:schema>
